<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @micro.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micro.user_id %>
</p>

<%= link_to 'Edit', edit_micro_path(@micro) %> |
<%= link_to 'Back', micros_path %>
